<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src = "/static/Hospital/js/jquery-3.3.1.js/"></script>
</head>
<body>
    <h3>chat</h3>
    <button id = "btn">message</button>
    <script type="text/javascript" src = "/static/Hospital/js/chatboxpatient.js/"></script>
<p id="a" >

</p>

<form action = "send/" method = "post">
    {% csrf_token %}
    Text <input type = "text" name = "text"/>
    <hr/>
    <input type ="submit" name = "send"/>
</form>
</body>
</html>