<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        {%for record in records1%}
        <li>
            {{record.Doctor}}--{{record.Patient}}--{{record.NP}}--{{record.Name}}--{{record.Info}}--{{record.Register.Time}}
        </li>
        {%empty%}
        {%endfor%}
    </ul>
    <ul>
        {%for record in records2%}
        <li>
            {{record.Doctor}}--{{record.Patient}}--{{record.NP}}--{{record.Name}}--{{record.Info}}--{{record.Register.Time}}
        </li>
        {%empty%}
        {%endfor%}
    </ul>
    <ul>
        {%for record in records3%}
        <li>
            {{record.Doctor}}--{{record.Patient}}--{{record.NP}}--{{record.Name}}--{{record.Info}}--{{record.Register.Time}}
        </li>
        {%empty%}
        {%endfor%}
    </ul>
    <h3>{{list}}</h3>
    <form action="/manage/{{num}}/check/search/" method="post">
        {% csrf_token %}
        Search <input type = "text" name = "text"/>
        <hr/>
        <input type ="submit" name = "search"/>
    </form>
    <a href="/manage/">return to manage page</a>
</body>
</html>